@model MarkdownUserStories.ViewModels.UserStoryEdit

@{
  ViewData["Title"] = "User Story";
}

@section Styles {
  <link rel="stylesheet" href="~/css/edit-story.css" />
}

<h1>User Story</h1>
<div>
  <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <form asp-action="EditStory">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <input hidden asp-for="Id" />

      <div class="form-group">
        <label class="control-label">Id: </label>
        <span>@(String.IsNullOrWhiteSpace(Model.Id) ? "NEW" : Model.Id)</span>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label asp-for="CreatedOn" class="control-label"></label>
          <input asp-for="CreatedOn" class="form-control" />
          <span asp-validation-for="CreatedOn" class="text-danger"></span>
        </div>
        <div class="col">
          <label asp-for="StartedOn" class="control-label"></label>
          <input asp-for="StartedOn" class="form-control" />
          <span asp-validation-for="StartedOn" class="text-danger"></span>
        </div>
        <div class="col">
          <label asp-for="CompletedOn" class="control-label"></label>
          <input asp-for="CompletedOn" class="form-control" />
          <span asp-validation-for="CompletedOn" class="text-danger"></span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-4">
          <label asp-for="Status" class="control-label"></label>
          <select asp-for="Status" asp-items="Model.StatusSelect" class="form-control"></select>
          <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="col-md-2">
          <label asp-for="Estimate" class="control-label"></label>
          <input asp-for="Estimate" class="form-control" />
          <span asp-validation-for="Estimate" class="text-danger"></span>
        </div>
        <div class="col-md-2">
          <label asp-for="Sequence" class="control-label"></label>
          <input asp-for="Sequence" class="form-control" />
          <span asp-validation-for="Sequence" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <input asp-for="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Want" class="control-label"></label>
        <input asp-for="Want" class="form-control" />
        <span asp-validation-for="Want" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Why" class="control-label"></label>
        <input asp-for="Why" class="form-control" />
        <span asp-validation-for="Why" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Discussion" class="control-label"></label>
        <textarea asp-for="Discussion" class="form-control"></textarea>
        <span asp-validation-for="Discussion" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AcceptanceCriteria" class="control-label"></label>
        <textarea asp-for="AcceptanceCriteria" class="form-control"></textarea>
        <span asp-validation-for="AcceptanceCriteria" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
